$color-primary: #6F5A58;
$color-secondary: #53a2e7;
$color-border: #bfdef8;
$color-bx-shadow: #808080;
$color-bg: #bfdef8;
$color-book-bg: #eaebec;
$color-nfs: #b50031;
$white: #fff;
$black: #000;
$grey: #808080;